#formulario section{
  width: 100%;
  height: auto;
  padding: 80px 4%;
}

.formulario_container form {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 4%;
}

form input {
  width: calc(80% - 10%);
  height: 55px;
  font-size: 20px;
  background-color: #FFFFFF;
  border: 1px solid rgb(190, 190, 190);
  outline: 0;
  padding: 5px 15px;
  border-radius: 8px;
  color: rgba(82, 82, 82, 0.699);
  margin-right: 20px;
  margin-bottom: 20px;
}

form .btn-pesquisar input[type=submit] {
  width: 175px;
  background-color: #1649FF;
  color: #fff;
  font-size: 20px;
  border-color: #1649FF;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s;
}

form .btn-pesquisar input[type=submit]:hover {
  background-color: rgba(22, 73, 255, 0.9);
}

.error-mensagem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #171717;
  font-weight: 700;
}

.galeria-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 80px 4%;
}

@media (max-width: 768px) {
  .formulario_container form {
    flex-wrap: wrap;
  }
  .galeria-container {
    flex-wrap: wrap;
  }
}

